@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: scale(0.85) translateY(-10px);
        filter: brightness(150%) saturate(150%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: brightness(100%) saturate(100%)
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: brightness(100%) saturate(100%);
    }
    100% {
        opacity: 0;
        transform: scale(0.85) translateY(10px);
        filter: brightness(150%) saturate(150%);
    }
}

#passkeyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#passkeyBox {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 20px #f0f;
    min-width: 300px;
    text-align: center;
    animation: FadeIn 0.3s ease-in-out;
}

    #passkeyBox.fade-out {
        animation: FadeOut 0.3 ease-in forwards;
    }

    #passkeyBox input {
        padding: 8px;
        width: 100%;
        margin: 10px 0;
    }
