body {
    font-family: 'Orbitron', sans-serif;
    padding: 2rem;
    background-color: #000;
    color: #0f0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #0f0;
    text-shadow: 0 0 6px #0f0;
}

#leaderboard {
    max-width: 500px;
    margin: auto;
    background-color: #111;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px #0f0;
    border: 2px solid #0f0;
}

ol {
    padding-left: 1.5rem;
    text-align: left;
}

li {
    margin: 0.7rem 0;
    font-size: 1.2rem;
    color: #0ff;
    text-shadow: 0 0 4px #0ff;
}

#loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#loadingGif {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 16px #0f0;
}
