html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: 'Orbitron', sans-serif;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers both QR and button */
    justify-content: center;
    margin-top: 50px; /* adjust as needed */
}


button {
    font-family: 'Orbitron', sans-serif;
    background-color: #111;
    color: #1f51ff;
    border: 2px solid #1f51ff;
    padding: 8px 16px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 6px #1f51ff;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

img {
    width: 250px; /* smaller QR code */
    height: auto;
    margin-bottom: 20px; /* space between QR and button */
}