body {
    background: radial-gradient(ellipse at center, #0a0a0a 0%, #000000 100%);
    color: #f0f0f0;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
}

h2 {
    color: #ff00cc;
    text-shadow: 0 0 10px #ff00cc;
    font-size: 30px;
    margin-bottom: 10px;
}

h4 {
    color: #ff00cc;
    text-shadow: 0 0 10px #ff00cc;
    font-size: 30px;
    margin-bottom: 20px
}

#maze {
    border: 2px solid #7f00ff;
    box-shadow: 0 0 20px #7f00ff;
    display: grid;
    gap: 0;
    width: fit-content;
    height: fit-content;
    margin-bottom: 30px;
    align-self: flex-end;
}

/* Cells and walls (no change as per request) */
.cell {
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    background-image: url("/styles/images/polished_deepslate.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.path {
    background-image: url("/styles/images/quartz_block_top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center-wall {
    background-image: url("/styles/images/gilded_blackstone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Clubs */

.player1 {
    background-image: url('/styles/images/sprites/Avatars/ClubKing.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player2 {
    background-image: url('/styles/images/sprites/Avatars/ClubA.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player3 {
    background-image: url('/styles/images/sprites/Avatars/Club1.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player4 {
    background-image: url('/styles/images/sprites/Avatars/Club2.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player5 {
    background-image: url('/styles/images/sprites/Avatars/Club3.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player6 {
    background-image: url('/styles/images/sprites/Avatars/Club4.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player7 {
    background-image: url('/styles/images/sprites/Avatars/Club5.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player8 {
    background-image: url('/styles/images/sprites/Avatars/Club6.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player9 {
    background-image: url('/styles/images/sprites/Avatars/Club7.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player10 {
    background-image: url('/styles/images/sprites/Avatars/Club8.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player11 {
    background-image: url('/styles/images/sprites/Avatars/Club9.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player12 {
    background-image: url('/styles/images/sprites/Avatars/Club10.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Diamonds */

.player13 {
    background-image: url('/styles/images/sprites/Avatars/DiamondQueen.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player14 {
    background-image: url('/styles/images/sprites/Avatars/DiamondA.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player15 {
    background-image: url('/styles/images/sprites/Avatars/Diamond1.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player16 {
    background-image: url('/styles/images/sprites/Avatars/Diamond2.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player17 {
    background-image: url('/styles/images/sprites/Avatars/Diamond3.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player18 {
    background-image: url('/styles/images/sprites/Avatars/Diamond4.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player19 {
    background-image: url('/styles/images/sprites/Avatars/Diamond5.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player20 {
    background-image: url('/styles/images/sprites/Avatars/Diamond6.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player21 {
    background-image: url('/styles/images/sprites/Avatars/Diamond7.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player22 {
    background-image: url('/styles/images/sprites/Avatars/Diamond8.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player23 {
    background-image: url('/styles/images/sprites/Avatars/Diamond9.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player24 {
    background-image: url('/styles/images/sprites/Avatars/Diamond10.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Spades */

.player25 {
    background-image: url('/styles/images/sprites/Avatars/SpadeKing.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player26 {
    background-image: url('/styles/images/sprites/Avatars/SpadeA.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player27 {
    background-image: url('/styles/images/sprites/Avatars/Spade1.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player28 {
    background-image: url('/styles/images/sprites/Avatars/Spade2.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player29 {
    background-image: url('/styles/images/sprites/Avatars/Spade3.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player30 {
    background-image: url('/styles/images/sprites/Avatars/Spade4.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player31 {
    background-image: url('/styles/images/sprites/Avatars/Spade5.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player32 {
    background-image: url('/styles/images/sprites/Avatars/Spade6.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player33 {
    background-image: url('/styles/images/sprites/Avatars/Spade7.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player34 {
    background-image: url('/styles/images/sprites/Avatars/Spade8.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player35 {
    background-image: url('/styles/images/sprites/Avatars/Spade9.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player36 {
    background-image: url('/styles/images/sprites/Avatars/Spade10.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Hearts */

.player37 {
    background-image: url('/styles/images/sprites/Avatars/HeartQueen.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player38 {
    background-image: url('/styles/images/sprites/Avatars/HeartA.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player39 {
    background-image: url('/styles/images/sprites/Avatars/Heart1.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player40 {
    background-image: url('/styles/images/sprites/Avatars/Heart2.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player41 {
    background-image: url('/styles/images/sprites/Avatars/Heart3.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player42 {
    background-image: url('/styles/images/sprites/Avatars/Heart4.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player43 {
    background-image: url('/styles/images/sprites/Avatars/Heart5.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player44 {
    background-image: url('/styles/images/sprites/Avatars/Heart6.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player45 {
    background-image: url('/styles/images/sprites/Avatars/Heart7.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player46 {
    background-image: url('/styles/images/sprites/Avatars/Heart8.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player47 {
    background-image: url('/styles/images/sprites/Avatars/Heart9.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.player48 {
    background-image: url('/styles/images/sprites/Avatars/Heart10.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.path {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input#commandInput {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #ff00cc;
    color: #ff00cc;
    padding: 10px;
    margin: 12px 0;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 0 12px #ff00cc;
    width: 260px;
    outline: none;
}

    input#commandInput::placeholder {
        color: #cc66ff;
    }

button {
    font-family: 'Orbitron', sans-serif;
    background: rgba(255, 0, 204, 0.1);
    color: #ff00cc;
    border: 2px solid #ff00cc;
    padding: 10px 20px;
    margin: 6px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 12px #ff00cc;
    transition: all 0.2s ease-in-out;
}

    button:hover {
        background-color: #ff00cc;
        color: #000;
        box-shadow: 0 0 20px #ff00cc;
    }

select {
    font-family: 'Orbitron', sans-serif;
    background: rgba(0, 0, 0, 0.7);
    color: #7f00ff;
    border: 2px solid #7f00ff;
    border-radius: 8px;
    margin-top: 12px;
    padding: 6px 12px;
    font-size: 14px;
    box-shadow: 0 0 10px #7f00ff;
}

    select:hover {
        background-color: #7f00ff;
        color: #000;
    }

#countdownDisplay {
    color: #00ffff;
    font-size: 20px;
    margin-top: 16px;
    text-shadow: 0 0 10px #00ffff;
}

#pollingToggleContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

#pollingStatusLabel {
    margin-top: 6px;
    font-size: 1.1rem;
    color: #ff00cc;
    text-shadow: 0 0 10px #ff00cc;
}

/* Neon-style toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #333;
    border-radius: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    box-shadow: 0 0 8px #999;
}

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 3px;
        bottom: 3px;
        background-color: #fff;
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #ff00cc;
    box-shadow: 0 0 12px #ff00cc;
}

    input:checked + .slider::before {
        transform: translateX(28px);
        background-color: #000; /* Optional: make knob dark when active */
    }

#timeUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 0, 30, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #ff00cc;
    text-shadow: 0 0 10px #ff00cc;
}

    #timeUpOverlay.hidden {
        display: none;
    }

.overlay-content {
    text-align: center;
}

#overlayResetBtn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    border: 2px solid #ff00cc;
    background-color: transparent;
    color: #ff00cc;
    cursor: pointer;
    box-shadow: 0 0 10px #ff00cc;
}

#loading {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    color: #00ffff;
}

    #loading img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        filter: drop-shadow(0 0 10px #00ffff);
    }

.hidden {
    display: none;
}

#qrCode {
    width: 220px;
    height: 220px;
    margin-top: 20px;
    border: 2px solid #ff00cc;
    border-radius: 10px;
    box-shadow: 0 0 12px #ff00cc;
}

#mazeWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 20px;
    padding-left: 60px;
}

#sidePanel {
    border: 2px solid #ff00cc;
    box-shadow: 20px #ff00cc;
    padding: 20px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #ff00cc;
    width: 260px;
    height: fit-content;
    text-align: center;
}

@keyframes pingPulse {
    0% {
        transform: scale(1);
        background-color: yellow;
        box-shadow: 0 0 5px 2px yellow;
        opacity: 1;
    }
    
    50% {
        transform: scale(1.5);
        background-color: red;
        box-shadow: 0 0 20px 5px red;
        opacity: 0.7;
    }
    100% {
        transform: scale(1); 
        background-color: yellow;
        box-shadow: 0 0 5px 2px yellow;
        opacity: 1;
    }
}

.cell.pinged {
    background-color: purple !important;
    animation: pingPulse 1s ease-out infinite;
    z-index: 9999;
}

#leaderboard {
    max-width: 500px;
    margin: auto;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px #ff00cc;
    border: 2px solid #ff00cc;
}

    #leaderboard.loading {
        background: transparent;
        border-color: transparent;
        box-shadow: none;
    }

ol {
    padding-left: 1.5rem;
    text-align: left;
}

li {
    margin: 0.7rem 0;
    font-size: 1.2rem;
    color: #ff00cc;
    text-shadow: 0 0 4px #ff00cc;
}

#loadingContainer {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#loadingGif {
    background: transparent;
    width: 80px;
    height: 80px;
    filter: drop-shadow(0 0 16px #0ff);
    object-fit: contain;
}
